{% extends 'layout/mainlayout.html.twig' %}

{% block titlecontent %}Cars{% endblock %}

{% block headercontent %}
    <h2>Cars</h2>
{% endblock %}

{% block bodycontent %}
    {% for car in cars %}
        <article>
            <div class="panel panel-default">
                <div class="panel-heading">Car #{{ car.id }} Serial : {{ car.serial }}</div>
                <div class="panel-body">
                    Type #{{ car.type.id }} {{ car.type.cargo }} - {{ car.type.payload }} Ton/payload
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}