<div class="panel panel-default">
    <div class="panel-heading">Car #{{ car.id }} Serial : {{ car.serial }}</div>
    <div class="panel-body">
        Type #{{ car.type.id }} {{ car.type.cargo }} - {{ car.type.payload }} Ton/payload
    </div>
</div>